body {
    background-color: black;
    font-family: 'Dancing Script', cursive;
    color: gainsboro;
    margin: 15px;
    text-align: center;
}
p {
    font-size: 20px;
}
h1 {
    padding-top: 10px;
}
#results {
    margin: 0 auto;
    margin-top: 50px;
}